.advantages__wrapper {
  margin: 0;
  padding: 26px 41px 42px 18px;
  background: $white;
}

.advantages__list {
  @include reset-list;
  display: flex;
  flex-direction: column;

  &--grey {
    background-color: $grey;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;

  &--lightblue {
    background-color: #81b3d2;
  }

  &--grey {
    margin: 33px auto 32px;
    width: 246px;
    background-color: #e6e6e6;
    border-bottom: 1px solid rgba(51, 0, 0, 0.1);
  }

  &--real-city {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 320px;
      height: 37px;
      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.advantages__image {
  display: block;
}

.advantages__icon {
  fill: $lightblue;

  &--housing {
    width: 37px;
    height: 36px;
  }
}

.advantages__text-wrapper {
  &--real-city {
    padding: 61px 27px 45px 28px;
  }

  &--housing {
    position: relative;
    width: 210px;
    margin-left: 47px;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -48px;
      background-repeat: no-repeat;
      width: 40px;
      height: 37px;
      background-image: url("../img/icon-house.svg");
      background-size: 40px 37px;
    }
  }

  &--food {
    position: relative;
    width: 210px;
    margin-left: 47px;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -48px;
      background-repeat: no-repeat;
      width: 40px;
      height: 37px;
      background-image: url("../img/icon-burger.svg");
      background-size: 40px 37px;
    }
  }

  &--souvenirs {
    position: relative;
    width: 210px;
    margin-left: 47px;
    margin-bottom: 38px;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -48px;
      background-repeat: no-repeat;
      width: 32px;
      height: 38px;
      background-image: url("../img/icon-gift.svg");
      background-size: 32px 38px;
    }

    &--inversed-order {
      padding: 45px 31px 42px 30px;
    }
  }
}

.advantages__title {
  @include reset-text;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  &--white {
    color: #ffffff;
    margin-bottom: 30px;
  }

  &--food,
  &--housing,
  &--souvenirs {
    text-align: left;
    margin-bottom: 20px;
  }

  &--sub {
    margin-bottom: 26px;
  }
}

.advantages__argument,
.advantages__number {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;

  &--white {
    color: #ffffff;
  }
}

.advantages__argument {
  &--food,
  &--housing,
  &--souvenirs {
    text-align: left;
  }

  &--sub {
    margin-top: 30px;
  }
}

.advantages__number {
  &--white {
    margin-bottom: 30px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__title {
    @include reset-text;
    margin-bottom: 20px;
    font-size: 21px;
    text-align: center;

    &--food,
    &--housing,
    &--souvenirs {
      text-align: center;
    }
  }

  .advantages__argument {
    &--food,
    &--housing,
    &--souvenirs {
      text-align: center;
    }
  }

  .advantages__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 0;

    &--housing {
      width: 155px;
      margin: 0 auto;
    }

    &--food,
    &--housing,
    &--souvenirs {
      flex-direction: column;
    }
  }

  .advantages__section {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 100px;

    &:last-child {
      margin-right: 0;
    }
  }

  .advantages__list {
    &--sub {
      flex-direction: row;
    }
  }

  .advantages__text-wrapper {
    padding: 0;
    width: 33.33%;

    &--real-city {
      margin: 46px 47px;
      text-align: center;
    }

    &--housing {
      width: 186px;
      margin-top: 100px;

      &::before {
        top: -100px;
        left: 50px;
        width: 75px;
        height: 72px;
        background-size: 75px 72px;
      }
    }

    &--souvenirs {
      width: 195px;
      margin-top: 100px;
      order: 2;

      &::before {
        top: -100px;
        left: 50px;
        width: 64px;
        height: 75px;
        background-size: 64px 75px;
      }
    }

    &--food {
      width: 181px;
      margin-top: 100px;

      &::before {
        top: -100px;
        left: 50px;
        width: 76px;
        height: 71px;
        background-size: 76px 71px;
      }
    }

    &--inversed-order {
      margin: 46px 47px;
      order: 2;
    }
  }

  .advantages__image-wrapper {
    position: relative;
    overflow: hidden;
    width: 66.66%;
    min-height: 256px;
    height: auto;
    margin-bottom: -7px;

    &--inversed-order {
      order: 1;
    }
  }

  .advantages__image {
    height: 256px;
    width: 100%;
    display: inline-block;
  }

  .advantages__item {
    display: flex;
    flex-direction: row;

    &--grey {
      display: flex;
      flex-direction: column;
      width: 159px;
      border-bottom: none;
    }

    &--food,
    &--housing,
    &--souvenirs {
      display: flex;
      flex-direction: column;
    }

    &--souvenirs {
      order: 1;
    }

    &--real-city {
      &::before {
        display: none;
      }
    }
  }

  .advantages__icon {
    margin-left: 53px;
    margin-bottom: 50px;

    &--housing {
      width: 75px;
      height: 72px;
    }

    &--souvenirs {
      width: 64px;
      height: 75px;
    }

    &--food {
      width: 77px;
      height: 68px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    &--grey {
      display: flex;
      margin-right: 130px;
    }

    &--food,
    &--housing,
    &--souvenirs {
      width: 400px;
    }
  }

  .advantages__title {
    text-align: center;

    &--food,
    &--housing,
    &--souvenirs {
      text-align: center;
      margin-bottom: 25px;
    }
  }

  .advantages__argument {
    &--food,
    &--housing,
    &--souvenirs {
      text-align: center;
    }
  }
}
