.catalog__list {
  @include reset-list;
  width: 280px;
  margin: 0 auto;
}

.catalog__item {
  border-bottom: solid #f2f2f2 1px;
}

.catalog__sublist {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
  }

  .catalog__item {
    width: 100%;
  }

  .catalog__subitem {
    width: 50%;
  }

  .catalog__sublist {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    width: 1200px;
  }

  .catalog__item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .catalog__subitem {
    width: 400px;
  }
}
