.feedback {
  @include reset-fieldset;
  margin: 0 auto;
  text-align: center;
}

.feedback__wrapper {
  display: flex;

  &--contacts {
    flex-direction: column;
  }

  &--radio {
    position: relative;
    margin-bottom: 20px;
  }

  &--checkbox {
    position: relative;
    margin-bottom: 25px;
  }
}

.feedback__list {
  @include reset-list;

  &--checkbox {
    display: flex;
    flex-direction: column;
  }

  &--checkbox li,
  &--radio li {
    display: flex;
  }

  &--checkbox li {
    width: 100%;
  }
}

.feedback__fieldset {
  @include reset-fieldset;
  padding: 0 20px 25px;

  &--name-surname-patronymic {
    margin-bottom: -32px;
    border-bottom: solid $white-greyish 1px;
  }

  &--contact-information {
    margin-bottom: 20px;
    border-bottom: solid $white-greyish 1px;
  }

  &--your-impressions {
    padding-bottom: 26px;
    border-bottom: solid $white-greyish 1px;
  }

  &--sightseengs-visited {
    margin-top: 20px;
    padding-bottom: 24px;
    border-bottom: solid $white-greyish 1px;
  }
}

.feedback__title {
  @include reset-text;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
  color: $darkblack;

  &--name-surname-patronymic {
    display: block;
    margin-bottom: 18px;
  }

  &--contact-information {
    margin-bottom: 5px;
    padding-top: 20px;
  }

  &--your-impressions {
    margin-bottom: 25px;
  }

  &--sightseengs-visited {
    margin-top: -8px;
    margin-bottom: 20px;
  }

  &--your-emotions {
    margin-bottom: 21px;
    padding-top: 20px;
  }
}

.feedback__label {
  @include reset-text;
  line-height: 26px;
  margin-right: 15px;
  text-transform: uppercase;

  &--tel {
    text-align: left;
    margin-bottom: 7px;
    margin-left: 23px;
  }

  &--email {
    text-align: left;
    margin-bottom: 4px;
    margin-left: 23px;
  }

  &--devils-bridge,
  &--dont-know-impression,
  &--mountain-bell,
  &--negative-impression,
  &--positive-impression,
  &--red-cliffs,
  &--slide-park {
    margin-top: 10px;
    margin-left: 26px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 26px;
    text-align: left;
    text-transform: none;
    color: $darkblack;
  }

  &--devils-bridge {
    margin-left: 40px;
    margin-bottom: 14px;
  }

  &--mountain-bell {
    margin-left: 40px;
    margin-bottom: 18px;
  }

  &--slide-park {
    margin-left: 40px;
    margin-bottom: 19px;
  }

  &--red-cliffs {
    margin-left: 40px;
    margin-bottom: -5px;
  }

  &--radio {
    display: block;
    margin-left: 75px;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: $white-greyish;
    }

    &:checked::after {
      content: "";
      position: absolute;
      top: 19px;
      left: 17px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: $lighterblack;
    }
  }


  &--checkbox {
    padding-left: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 46px;
      height: 46px;
      background-color: $white-greyish;
    }
  }

  &--negative-impression {
    margin-bottom: 13px;
  }
}

.feedback__input {
  border: none;

  &--checkbox + label:checked {
    background-color: $white-greyish;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--name,
  &--patronymic,
  &--surname {
    flex-grow: 1;
    margin-top: -10px;
    margin-bottom: 16px;
  }

  &--grey {
    height: 58px;
    background-color: $white-greyish;
    padding-left: 22px;
  }

  &--email,
  &--tel {
    padding-left: 22px;
    padding-right: 64px;
  }

  &--email {
    margin-bottom: -14px;
  }

  &--describe-more {
    @include reset-text;
    width: 279px;
    height: 160px;
    margin-bottom: 10px;
    background-color: $white-greyish;
    outline: none;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 26px;
    color: $darkblack;
    padding-left: 21px;
    padding-top: 20px;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: $white;
    border: solid 4px #e5e5e5;
  }

  &--radio {
    width: 46px;
    height: 46px;
    border: solid 5px $white-greyish;
    background-color: $white-greyish;

    &:active {
      box-shadow: none;
    }
  }

  &--radio:checked {
    &::after {
      content: "";
      position: absolute;
      top: 19px;
      left: 17px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: $lighterblack;
    }
  }

  &--radio + label:hover {
    &::before {
      background-color: #e5e5e5;
    }
  }

  &--radio + label:active {
    &::before {
      background-color: #d5d5d5;
    }
  }

  &--checkbox {
    width: 46px;
    height: 46px;
    border: solid 5px $white-greyish;
    background-color: $white-greyish;

    &:hover {
      background-color: #e5e5e5;
    }

    &:active {
      background-color: #d5d5d5;
    }
  }
}

.feedback__input::placeholder {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-align: left;
  color: $darkblack;
}

.feedback__button {
  width: 280px;
  margin: 0 auto 44px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.feedback__tel-email-wrapper {
  position: relative;
}

.feedback__icon-wrapper {
  position: absolute;
  padding: 20px 19px 20px 21px;
  top: 20%;
  left: 80%;
  width: 58px;
  height: 58px;
  background-color: $grey;
}

.feedback__legend {
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: right;
}

@media (max-width: $mobile-width-only) {
  .feedback__legend {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .feedback {
    margin-bottom: 6px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .feedback__form {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedback__list {
    &--checkbox {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &--checkbox li {
      width: 50%;
    }
  }

  .feedback__fieldset {
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: none;
    padding: 0;

    &--name-surname-patronymic {
      order: 2;
      width: 50%;
      padding-left: 55px;
    }

    &--your-impressions {
      order: 1;
      width: 50%;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 292px;
        background-color: #dbdbdb;
        background-repeat: no-repeat;
      }
    }

    &--contact-information {
      order: 3;
      width: 648px;
      margin-bottom: 29px;
    }

    &--sightseengs-visited {
      order: 4;
      width: 648px;
      flex-wrap: wrap;
      flex-direction: row;
    }

    &--your-emotions {
      order: 5;
      width: 648px;
      padding-top: 0;
      margin-left: 0;
      margin-bottom: 45px;
    }
  }

  .feedback__input {
    &--describe-more {
      width: 648px;
    }
  }

  .feedback__action {
    order: 6;
  }

  .feedback__title {
    margin-bottom: 60px;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    line-height: 26px;
    text-align: center;
    width: 163px;
    color: $darkblack;

    &--your-impressions {
      width: 100%;
      padding-top: 0;
      text-align: left;
    }

    &--name-surname-patronymic {
      text-align: left;
    }

    &--contact-information {
      position: relative;
      margin-bottom: 8px;
      text-align: center;
      width: 297px;

      &::before {
        content: "";
        position: absolute;
        top: 70%;
        left: -60%;
        width: 123px;
        height: 1px;
        background-color: #dbdbdb;
        background-repeat: no-repeat;
      }

      &::after {
        content: "";
        position: absolute;
        top: 70%;
        right: -60%;
        width: 123px;
        height: 1px;
        background-color: #dbdbdb;
        background-repeat: no-repeat;
      }
    }

    &--sightseengs-visited {
      position: relative;
      margin-bottom: 48px;
      text-align: center;
      width: 278px;

      &::before {
        content: "";
        position: absolute;
        top: 70%;
        left: -67%;
        width: 123px;
        height: 1px;
        background-color: #dbdbdb;
        background-repeat: no-repeat;
      }

      &::after {
        content: "";
        position: absolute;
        top: 70%;
        right: -67%;
        width: 123px;
        height: 1px;
        background-color: #dbdbdb;
        background-repeat: no-repeat;
      }
    }

    &--your-emotions {
      position: relative;
      margin-bottom: 60px;
      text-align: center;
      width: 280px;

      &::before {
        content: "";
        position: absolute;
        top: 70%;
        left: -67%;
        width: 123px;
        height: 1px;
        background-color: #dbdbdb;
        background-repeat: no-repeat;
      }

      &::after {
        content: "";
        position: absolute;
        top: 70%;
        right: -67%;
        width: 123px;
        height: 1px;
        background-color: #dbdbdb;
        background-repeat: no-repeat;
      }
    }
  }

  .feedback__label {
    &--name,
    &--patronymic,
    &--surname {
      margin-top: 5px;
    }

    &--positive-impression {
      margin-bottom: 28px;
    }

    &--negative-impression {
      margin-bottom: 20px;
    }

    &--email {
      margin-top: 6px;
      margin-bottom: 9px;
    }

    &--devils-bridge,
    &--slide-park {
      margin-left: 137px;
      margin-top: 15px;
    }

    &--mountain-bell,
    &--red-cliffs {
      margin-left: 70px;
    }
  }

  .feedback__icon-wrapper {
    left: 91%;

    &--email {
      top: 30%;
    }
  }

  .feedback__button {
    width: 324px;
    order: 6;
    text-align: left;
    padding: 21px 72px 21px 60px;
  }

  .feedback__legend {
    position: absolute;
    left: 75%;
    top: 93.5%;
  }

  .feedback__tel-email-wrapper {
    &--tel {
      margin-bottom: 2px;
    }
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
  }

  .feedback__fieldset {
    @include reset-fieldset;
    display: flex;
    flex-wrap: wrap;
    order: 2;

    &--your-impressions {
      order: 1;
    }

    &--name-surname-patronymic {
      padding-left: 78px;
    }

    &--sightseengs-visited {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 40px;
    }

    &--your-emotions {
      width: 960px;
    }

    &--contact-information {
      margin-left: -19px;
      margin-bottom: -16px;
    }
  }

  .feedback__title {
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    line-height: 26px;
    text-align: left;
    color: $darkblack;

    &--your-impressions {
      margin-bottom: 45px;
      margin-left: 73px;
    }

    &--contact-information {
      margin-bottom: 65px;
      padding-top: 33px;
      width: 279px;
      text-align: center;

      &::before {
        width: 280px;
        left: -120%;
      }

      &::after {
        width: 280px;
        right: -120%;
      }
    }

    &--sightseengs-visited {
      margin-bottom: 50px;
      width: 278px;
      text-align: center;

      &::before {
        width: 280px;
        left: -120%;
      }

      &::after {
        width: 280px;
        right: -120%;
      }
    }

    &--your-emotions {
      text-align: center;
      width: 280px;
      margin-bottom: 60px;

      &::before {
        width: 280px;
        left: -120%;
      }

      &::after {
        width: 280px;
        right: -120%;
      }
    }

    &--name-surname-patronymic {
      margin-bottom: 55px;
    }
  }

  .feedback__list {
    &--checkbox li {
      width: 25%;
    }
  }

  .feedback__label {
    &--positive-impression {
      margin-bottom: 20px;
    }

    &--tel {
      width: 70px;
    }

    &--email {
      width: 147px;
    }

    &--devils-bridge,
    &--mountain-bell,
    &--red-cliffs,
    &--slide-park {
      margin: 5px 0 0 40px;
    }

    &--mountain-bell {
      margin-left: 60px;
    }

    &--slide-park {
      margin-left: 80px;
    }

    &--red-cliffs {
      margin-left: 73px;
    }
  }

  .feedback__input {
    flex-grow: initial;

    &--name {
      width: 350px;
    }

    &--surname {
      width: 312px;
    }

    &--patronymic {
      width: 314px;
    }

    &--describe-more {
      width: 960px;
      margin: 0 auto 58px;
    }

    &--email,
    &--tel {
      width: 257px;
    }
  }

  .feedback__wrapper {
    &--contacts {
      flex-direction: row;
      align-items: center;
    }
  }

  .feedback__contacts-wrapper {
    display: flex;
    flex-direction: row;
    width: 960px;
    margin-bottom: 50px;
  }

  .feedback__tel-email-wrapper {
    width: 50%;
  }

  .feedback__icon-wrapper {
    top: 0;
    left: 75.5%;

    &--email {
      left: 92%;
    }
  }

  .feedback__button {
    width: 480px;
    padding: 13px 121px;
    margin-right: 470px;
    font-size: 21px;
  }

  .feedback__legend {
    left: 83%;
  }
}
