.likes__title {
  @include reset-text;
}

.likes__button {
  width: 23px;
  height: 21px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.3;
  fill: $darkblack;
}

@media (min-width: $tablet-width) {
  .likes {
    position: relative;
  }

  .likes__button {
    position: absolute;
    right: 10px;
  }
}

@media (min-width: $desktop-width) {
  .likes__button {
    fill: $white;
    opacity: 1;
  }
}
