.made-by {
  display: flex;
  width: 140px;
  margin: 0 auto 23px;
  justify-content: space-around;
}

.made-by__title {
  @include reset-text;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.made-by__link:hover {
  fill: $lightblue;
}

.made-by__link:focus {
  opacity: 0.3;
  fill: $darkblack;
}

@media (min-width: $tablet-width) {
  .made-by {
    //width: 150px;
  }
}

@media (min-width: $desktop-width) {
  .made-by {
    display: flex;
    justify-content: flex-end;
    width: 400px;
  }

  .made-by__icon {
    margin-left: 11px;
    margin-right: 120px;
  }
}
