.map {
  position: relative;
  width: 320px;
  height: 350px;
  margin: 0 auto;
}

.map__interactive {
  position: absolute;
  width: 320px;
  height: 350px;
  top: 0;
  left: 0;
  z-index: 20;
}

@media (min-width: $tablet-width) {
  .map {
    width: 768px;
    height: 350px;
  }

  .map__interactive {
    width: 768px;
    height: 350px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 1200px;
    height: 350px;
  }

  .map__interactive {
    width: 1200px;
    height: 350px;
  }
}
