.promo {
  background-color: white;
  text-align: center;
  margin: 0 auto;
}

.promo__wrapper {
  width: 100%;
  height: 389px;
  margin: 0 auto;

  background-color: $lightblue;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;

  //@media (min-resolution: $retina-dppx) {
  //background-image: url("../img/bg-back-mobile@2x.jpg");
  //}
}

.promo__slogan {
  order: 2;
  top: 20%;
  left: 50%;
  margin: 0 auto;
}

.promo__text {
  padding-top: 43px;
  padding-left: 32px;
  padding-right: 33px;
  padding-bottom: 10px;
  text-align: center;
  min-height: 149px;
}

.promo__title {
  @include reset-text;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #000000;
  line-height: 26px;
  text-transform: uppercase;
}

.promo__argument {
  @include reset-text;
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  color: #333333;
  line-height: 26px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    width: 100%;
    height: 518px;
    object-fit: contain;

    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;

    //@media (min-resolution: $retina-dppx) {
    //background-image: url("../img/bg-back-tablet@2x.jpg");
    //background-size: 1338px auto;
    //}
  }

  .promo__text {
    @include reset-text;
    padding-left: 139px;
    padding-top: 51px;
    padding-right: 139px;
    padding-bottom: 55px;
  }

  .promo__title {
    @include reset-text;
    display: block;
    font-size: 21px;
  }

  .promo__argument {
    @include reset-text;
    margin-top: 30px;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    width: 100%;
    height: 518px;
    object-fit: contain;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
  }

  .promo__text {
    padding-left: 355px;
    padding-right: 355px;
  }

  .promo__title {
    @include reset-text;
  }
}
