.video__title-wrapper {
  width: 267px;
  margin: 0 auto 33px;
}

.video__title-text {
  @include reset-text;
  display: block;
  margin-top: 32px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $darkblack;
}

.video__argument {
  @include reset-text;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $lighterblack;
}

.video__picture {
  width: 100%;
  height: 201px;
}

.video__wrapper {
  position: relative;
  margin-bottom: 80px;
}

.video__controls {
  position: absolute;
  top: 63.5%;
  left: 6%;
}

.video__interface {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 22px 23px 23px 25px;
  width: 280px;
  height: 66px;
  background-color: $white-greyish;
  border: none;
}

.video__scroller {
  display: block;
  margin: 0 auto;
  padding: 22px 23px 23px 22px;
  text-align: center;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video__input {
  height: 3px;
  width: 235px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  fill: transparent;
}

.video__button {
  border: none;
  outline: none;
  background-color: transparent;
  fill: #5c6870;

  &:hover {
    background-color: #333333;
  }

  &:active {
    opacity: 0.3;
  }

  &--replay {
    position: absolute;
    top: 65%;
    left: 10%;
    margin-right: 125px;
  }

  &--subtitles {
    position: absolute;
    top: 65%;
    left: 55%;
    margin-right: 31px;
  }

  &--fullscreen {
    position: absolute;
    top: 65%;
    left: 75%;
  }
}

@media (min-width: $tablet-width) {
  .video__title-wrapper {
    width: 445px;
    margin: 0 auto;
    padding-top: 68px;
    padding-bottom: 78px;
  }

  .video__title-text {
    font-size: 30px;
  }

  .video__wrapper {
    width: 648px;
    height: 499px;
    margin-left: 60px;
  }

  .video__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .video__scroller {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    background-color: transparent;
  }

  .video__input {
    width: 390px;
    margin-left: 93px;
    background-color: $white;
    opacity: 0.6;
  }

  .video__interface {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 648px;
    height: 93px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .video__button {
    fill: $white;

    &--replay {
      top: 35%;
      left: 5%;
    }

    &--subtitles {
      fill: $white;
      top: 35%;
      left: 80%;
    }

    &--fullscreen {
      top: 35%;
      left: 90%;
    }
  }
}

@media (min-width: $desktop-width) {
  .video__title-wrapper {
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 76px;
  }

  .video__wrapper {
    width: 800px;
    height: 500px;
    margin-left: 199px;
    margin-right: 201px;
  }

  .video__interface {
    width: 800px;
    height: 93px;
    opacity: 0.6;
  }
}
