.video__title-wrapper {
  width: 267px;
  margin: 0 auto 33px;
}

.video__title-text {
  @include reset-text;
  display: block;
  margin-top: 32px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $darkblack;
}

.video__argument {
  @include reset-text;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $lighterblack;
}

.video__picture {
  width: 100%;
  height: 201px;
}

.video__wrapper {
  margin-bottom: 80px;
}

.video__interface {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 22px 23px 23px 25px;
  width: 280px;
  height: 66px;
  background-color: $white-greyish;
  border: none;
}

.video__scroller {
  display: block;
  margin: 0 auto;
  padding: 17px 23px 15px 22px;
  text-align: center;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.6);

  &--input {
    width: 235px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border-color: transparent;
  }
}

.video__button {
  border: none;
  background-color: transparent;
  fill: #5c6870;

  &:hover {
    fill: #333333;
  }

  &:active {
    opacity: 0.3;
  }

  &--replay {
    margin-right: 125px;

    &--subtitles {
      margin-right: 31px;
    }
  }
}

@media (min-width: $tablet-width) {
  .video__title-wrapper {
    width: 445px;
    margin: 0 auto;
    padding-top: 68px;
    padding-bottom: 78px;
  }

  .video__title-text {
    font-size: 30px;
  }

  .video__image {
    display: block;
    text-align: center;
  }

  .video__wrapper {
    position: relative;
    width: 648px;
    height: 499px;
  }

  .video__scroller {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .video__interface {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 648px;
    height: 93px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .video__title-wrapper {
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 76px;
  }

  .video__wrapper {
    width: 800px;
    height: 500px;
    margin-left: 199px;
    margin-right: 201px;
  }

  .video__interface {
    width: 800px;
    height: 93px;
    opacity: 0.6;
  }
}
