.video__title--wrapper {
  margin: 0 auto;
  padding-top: 39px;
  padding-bottom: 40px;
}

.video__title {
  @include reset-text;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $darkblack;
}

.video__argument {
  @include reset-text;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $lighterblack;
}

.video__picture {
  width: 100%;
  height: 201px;
}

.video__wrapper {
  margin-bottom: 80px;
}

.video__interface {
  display: block;
  margin: 0 auto;
  padding: 22px 23px 23px 25px;
  //width: 280px;
  height: 66px;
  background-color: $white-greyish;
  border: none;
}

.video__button {
  border: none;
  background-color: transparent;
  fill: #5c6870;

  &:hover {
    fill: #333333;
  }

  &:active {
    opacity: 0.3;
  }

  &--replay {
    margin-right: 125px;

    &--subtitles {
      margin-right: 31px;
    }
  }
}

@media (min-width: $tablet-width) {
  .video__title--wrapper {
    margin: 0 auto;
    padding-top: 68px;
    padding-bottom: 78px;
  }

  .video__wrapper {
    width: 648px;
    height: 499px;
  }

  .video__interface {
    width: 648px;
    height: 93px;
    opacity: 0.6;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .video__title--wrapper {
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 76px;
  }

  .video__wrapper {
    width: 800px;
    height: 500px;
    margin-left: 199px;
    margin-right: 201px;
  }

  .video__interface {
    width: 800px;
    height: 93px;
    opacity: 0.6;
  }
}
