.video__title-wrapper {
  width: 267px;
  margin: 0 auto 33px;
}

.video__title-text {
  @include reset-text;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $darkblack;
}

.video__argument {
  @include reset-text;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $lighterblack;
}

.video__image {
  width: 100%;
  display: block;
}

.video__wrapper {
  position: relative;
  margin-bottom: 49px;
}

.video__scroller {
  display: block;
  position: absolute;
  top: 57%;
  left: 6%;
  margin: 0 auto;
  padding: 12px 23px 13px 22px;
  text-align: center;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video__input {
  height: 3px;
  width: 235px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  fill: $white;
}

.video__interface {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 22px 23px 23px 25px;
  width: 280px;
  height: 66px;
  background-color: $white-greyish;
  border: none;
}

.video__button {
  border: none;
  outline: none;
  background-color: transparent;
  fill: #5c6870;

  &:hover {
    background-color: #333333;
  }

  &:active {
    opacity: 0.3;
  }

  &--replay {
    position: absolute;
    top: 35%;
    left: 7%;
    margin-right: 125px;
  }

  &--subtitles {
    position: absolute;
    top: 35%;
    left: 61%;
    margin-right: 31px;
  }

  &--fullscreen {
    position: absolute;
    top: 35%;
    left: 82%;
  }
}

@media (min-width: $tablet-width) {
  .video__title-wrapper {
    width: 445px;
    margin: 0 auto;
    padding-top: 68px;
    padding-bottom: 78px;
  }

  .video__title-text {
    font-size: 30px;
    margin-top: -15px;
    margin-bottom: 29px;
  }

  .video__argument {
    width: 440px;
  }

  .video__wrapper {
    width: 648px;
    height: 499px;
    margin-left: 60px;
    margin-bottom: 30px;
  }

  .video__scroller {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    background-color: transparent;
  }

  .video__input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 390px;
    margin-left: 93px;
    fill: $white;
    opacity: 0.6;
  }

  .video__interface {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 648px;
    height: 93px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .video__button {
    fill: $white;

    &--replay {
      top: 35%;
      left: 5%;
    }

    &--subtitles {
      fill: $white;
      top: 35%;
      left: 80%;
    }

    &--fullscreen {
      top: 35%;
      left: 90%;
    }
  }
}

@media (min-width: $desktop-width) {
  .video__title-wrapper {
    margin: 0 auto;
    padding-top: 83px;
    padding-bottom: 75px;
  }

  .video__wrapper {
    width: 800px;
    height: 500px;
    margin-left: 199px;
    margin-right: 201px;
    margin-bottom: 77px;
  }

  .video__interface {
    width: 800px;
    height: 93px;
    opacity: 0.6;
  }

  .video__button {
    &--replay {
      left: 4%;
    }

    &--subtitles {
      left: 83.5%;
    }

    &--fullscreen {
      left: 91.5%;
    }
  }
}
