.container {
  width: 320px;
  margin: 0 auto;
  background-color: $white;
}
//от 768 планшетная версия
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
// от 1200 десктопная версия
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
