.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
  min-height: 55px;
  background-color: $lightblue;
}

.main-nav--closed {
  background-color: $white;
}

.main-nav__list {
  @include reset-list;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 30px;
  z-index: 2;

  display: block;
  width: 22.2px;
  height: 22.2px;

  background-color: transparent;
  outline: none;

  cursor: pointer;
  border: none;

  &:active {
    opacity: 0.3;
  }

  &:hover {
    opacity: 0.6;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 30px;

  width: 23px;
  height: 4px;
  background-color: $lightblue;
  box-shadow: 0 8px 0 0 $lightblue, 0 16px 0 0 $lightblue;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: $lightblue;
  box-shadow: 0 8px 0 0 $lightblue, 0 16px 0 0 $lightblue;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 30px;
  left: auto;

  &::after,
  &::before {
    content: "";

    position: absolute;
    top: 24px;
    left: 18px;

    width: 22px;
    height: 4px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::after,
  &:active::before {
    background-color: $white;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  &--active {
    display: block;
  }

  .main-nav--closed .site-list__item--active a {
    padding-right: 100px;
    padding-left: 100px;

    text-align: center;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .site-list__item--active a {
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    min-height: 56px;
    background-color: $white;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    @include reset-text;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    min-height: 56px;
    width: auto;
  }
}
