.page-header {
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 1px 0 0 rgba(1, 1, 1, 0.2), inset 1px 0 0;
  text-align: center;
}

.page-header__logo-wrapper {
  position: absolute;
  left: 35%;
}

.page-header__logo-image {
  width: 102px;
  height: 84px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-header__logo-wrapper {
    left: 40%;
  }

  .page-header__logo-image {
    width: 102px;
    height: 84px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-wrapper {
    left: 65%;
  }

  .page-header__logo-image {
    width: 187px;
    height: 96.5px;
    text-align: center;
  }
}
