.page-footer {
  background-color: white;
  text-align: center;
}

.page-footer__wrapper {
  margin: 10px auto 0;
  padding-top: 30px;
  padding-bottom: 35px;
}

.page-footer__tag {
  @include reset-text;
  display: block;
  margin: 0 auto;
  margin-top: -4px;
  width: 136px;
}

.page-footer__social {
  display: flex;
  width: 140px;
  margin: 41px auto 40px;
  min-height: 48px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: -3px;
    padding-top: 9px;
  }

  .page-footer__social {
    display: flex;
    flex-wrap: wrap;
  }

  .page-footer__tag {
    margin-top: 4px;
    margin-left: 61px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1200px;
  }

  .page-footer__tag {
    //width: 400px;
    margin-left: 120px;
  }
}
